Prospectar Clientes Buscando no Google.json
{"createdAt":"2024-12-06T18:09:47.625Z","updatedAt":"2024-12-26T04:03:33.872Z","id":"2XTB1CuUwOKSNhVl","name":"Prospectar Clientes Buscando no Google","active":false,"nodes":[{"parameters":{},"id":"f17d907a-cbcf-4753-9d03-f679ead7bcb8","name":"Prospect Clients Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[700,-540]},{"parameters":{"assignments":{"assignments":[{"id":"d5807e46-872f-4576-9b46-bce0d4bfd182","name":"response","value":"={{ $('Prospect Clients Aggregate Variable').item.json }}","type":"string"}]},"options":{}},"id":"94f22d09-7447-4691-911b-5d6daae3e058","name":"Prospect Clients Workflow Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,-540]},{"parameters":{"url":"https://serpapi.com/locations.json","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Prospect Clients Workflow').item.json.query.search_city }},{{ $('Prospect Clients Workflow').item.json.query.search_state }},{{ $('Prospect Clients Workflow').item.json.query.search_country }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,-540],"id":"f6294c22-a6ca-4a01-a803-7c8cd8ce5725","name":"Prospect Clients HTTP Request Locations","alwaysOutputData":true,"credentials":{"serpApi":{"id":"07hPwYQYSqtoac3H","name":"brauliobr@gmail.com"}}},{"parameters":{"url":"https://serpapi.com/search.json","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"tbm","value":"lcl"},{"name":"q","value":"={{ $('Prospect Clients Workflow').item.json.query.search_description }}"},{"name":"location","value":"={{ $json.canonical_name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-540],"id":"af414156-45e9-4ccd-945d-694257edd828","name":"Prospect Clients HTTP Request Search","alwaysOutputData":true,"credentials":{"serpApi":{"id":"07hPwYQYSqtoac3H","name":"brauliobr@gmail.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b2368afa-5d58-4750-973f-4abc6c042c5d","leftValue":"={{ $json.search_metadata.status }}","rightValue":"Success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,-540],"id":"61d8d6da-1f1f-4274-940d-3cae255df2de","name":"Prospect Clients Check Status"},{"parameters":{"jsCode":"// Obtem a entrada\nconst input = $input.all();\n// Inicializa um array para armazenar os resultados\nconst output = [];\n\n// Itera sobre cada entrada\ninput.forEach(item => {\n  const localResults = item.json.local_results;\n  \n  if (localResults) {\n    // Extrai os campos \"title\" e \"phone\" de cada registro em local_results\n    localResults.forEach(result => {\n      output.push({\n        title: result.title,\n        phone: result.phone\n      });\n    });\n  }\n});\n\n// Formata a saída para mostrar todos os resultados em uma linha, com duas linhas em branco entre cada \"title\" e \"phone\"\nlet formattedOutput = output.map(result => `title: ${result.title}\\n\\nphone: ${result.phone}`).join('');\n\n// Retorna a saída formatada\nreturn [{\n  results: formattedOutput\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,-540],"id":"dee58e8f-3a69-4a99-81e0-996126609fd4","name":"Prospect Clients Aggregate Variable","alwaysOutputData":true},{"parameters":{"content":"## SEARCH FOR DATA IN THE API","height":249.71194872015354,"width":429.9217070722073},"id":"ac8ec0a8-167e-4a82-9c0e-63a5a808962e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,-620]},{"parameters":{"content":"## AGGREGATES DATA","height":250,"width":448,"color":2},"id":"c8d49c38-e800-4dd7-b149-6dc2df18ecd8","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,-620]},{"parameters":{"content":"## INPUT","height":249.71194872015354,"width":207.63699435901412,"color":4},"id":"0980204c-b257-49d3-959e-1bee86cf0ac4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-620]},{"parameters":{"content":"## OUTPUT","height":249.71194872015354,"width":207.63699435901412,"color":3},"id":"887546a6-5ae4-4baa-85e1-1f18229320c7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1820,-620]}],"connections":{"Prospect Clients Workflow":{"main":[[{"node":"Prospect Clients HTTP Request Locations","type":"main","index":0}]]},"Prospect Clients HTTP Request Locations":{"main":[[{"node":"Prospect Clients HTTP Request Search","type":"main","index":0}]]},"Prospect Clients HTTP Request Search":{"main":[[{"node":"Prospect Clients Check Status","type":"main","index":0}]]},"Prospect Clients Check Status":{"main":[[{"node":"Prospect Clients Aggregate Variable","type":"main","index":0}],[{"node":"Prospect Clients Workflow Output","type":"main","index":0}]]},"Prospect Clients Aggregate Variable":{"main":[[{"node":"Prospect Clients Workflow Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"ueaovgBBnNNUfWJq"},"staticData":null,"meta":null,"pinData":{},"versionId":"a19464dd-0590-4fa2-b326-b742da4b88be","triggerCount":0,"tags":[]}