Prospectar_Clientes_no_Google.json
{
  "name": "Prospectar Clientes no Google",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "a68fdd7d-5530-4ca3-a1b6-a5c6869b9693",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4680,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "1gsPWnoLWXjZKHia",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "tableName": "=memory",
        "contextWindowLength": null
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4840,
        780
      ],
      "id": "1e3757de-65d6-4bc0-b2ba-a00e5424fe0f",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "DfmrDKt7xQB7wd7U",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        3800,
        500
      ],
      "id": "ac3e86ac-88b1-4739-a90c-90f76c414cda",
      "name": "Chat",
      "webhookId": "ad8bfda9-263a-423b-9f63-91f6e36e5fca"
    },
    {
      "parameters": {
        "content": "# AGENT",
        "height": 610,
        "width": 690,
        "color": 6
      },
      "id": "dc0d6957-6026-4c20-939d-fa1ddcc448ac",
      "name": "Sticky Note95",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4620,
        360
      ]
    },
    {
      "parameters": {
        "content": "# SEARCH FOR DATA IN THE API",
        "height": 650,
        "width": 630
      },
      "id": "46326382-f1eb-4fb2-8a38-99e599559f3d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5100,
        1540
      ]
    },
    {
      "parameters": {
        "content": "# OUTPUT",
        "height": 650,
        "width": 270,
        "color": 3
      },
      "id": "e6c1396f-324c-47c1-a17f-56ee9141de9e",
      "name": "Sticky Note72",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6960,
        1540
      ]
    },
    {
      "parameters": {},
      "id": "26b57f55-e8a0-4583-ad6c-ae14d8e20ba4",
      "name": "Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        3800,
        1480
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/locations.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.city }},\n{{ $json.state }},\n{{ $json.country }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5360,
        1860
      ],
      "id": "ecfda80f-44f2-4372-bc83-934df1aafe07",
      "name": "HTTP Request Locations",
      "alwaysOutputData": true,
      "credentials": {
        "serpApi": {
          "id": "07hPwYQYSqtoac3H",
          "name": "SerpApi"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tbm",
              "value": "lcl"
            },
            {
              "name": "q",
              "value": "={{ $('Variables Input').item.json.description }}"
            },
            {
              "name": "location",
              "value": "={{ $json.canonical_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5540,
        1860
      ],
      "id": "4092fcd7-2bcf-443e-9474-7f9873108f72",
      "name": "HTTP Request Search",
      "alwaysOutputData": true,
      "credentials": {
        "serpApi": {
          "id": "07hPwYQYSqtoac3H",
          "name": "SerpApi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b77d57f-3c2d-431c-8754-09f55d1529ae",
      "name": "Workflow Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7040,
        1780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "I didn't find any customer with a registered phone number",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b740a3a1-f112-4387-953a-337de4f489d8",
      "name": "Workflow Output False",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6740,
        1900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fbffc54-8439-4a61-a45b-d83a8ea41898",
              "name": "description",
              "value": "={{ $json.query.description }}",
              "type": "string"
            },
            {
              "id": "5f1ccec8-8fa3-4fbf-af2b-dd13533503a7",
              "name": "city",
              "value": "={{ $json.query.city }}",
              "type": "string"
            },
            {
              "id": "aacbbdb0-7529-43d0-8021-c03c946b7f9a",
              "name": "state",
              "value": "={{ $json.query.state }}",
              "type": "string"
            },
            {
              "id": "0c5f1b78-6ab0-4a73-8c26-9b9e443dec64",
              "name": "country",
              "value": "={{ $json.query.country }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5180,
        1860
      ],
      "id": "ad75e0a8-b381-4091-bc74-46ca54746774",
      "name": "Variables Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "Successfully prospected clients",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4fb8d1b7-9c7d-4231-a9e2-15157af07288",
      "name": "Workflow Output True",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6740,
        1640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Função para limpar o telefone\nfunction limparTelefone(telefone) {\n    return telefone\n        .replace(/\\D/g, '') // Remove todos os caracteres não numéricos\n        .replace(/^0+/, ''); // Remove zeros à esquerda (se houver)\n}\n\n// Obtém todos os itens de entrada\nconst items = $input.all();\n\n// Acessa a variável do nome da tabela (supondo que você tenha essa variável)\nconst tableName = $('Variables').last().json.table; // Aqui você substitui pela sua variável real\n\n// Array para armazenar os objetos de saída\nlet output = [];\n\n// Processa cada item\nitems.forEach(item => {\n    const category = item.json.category || \"\"; // Obtém a categoria\n    const title = item.json.title || \"\"; // Obtém o título\n    const phone = item.json.phone || \"\"; // Obtém o telefone\n    const address = item.json.address || \"\"; // Obtém o endereço\n\n    // Limpa o telefone somente para o campo \"id\"\n    const phoneLimpo = limparTelefone(phone);\n\n    // Adiciona a variável \"message_sent\" com valor \"false\" ao metadata\n    const metadataWithMessageSent = { \n        ...item.json, \n        message_sent: \"false\", // Agora \"false\" é uma string correta\n        category: category // Adicionando \"category\" ao metadata\n    };\n\n    // Cria o conteúdo concatenado com a ordem: category, title, phone, address, message_sent\n    const content = `${category}, ${title}, ${phone}, ${address}, ${metadataWithMessageSent.message_sent}`.replace(/'/g, \"''\"); // Escapando aspas simples\n    \n    // Serializa o novo objeto metadata, incluindo a variável \"message_sent\" e \"category\"\n    const metadata = JSON.stringify(metadataWithMessageSent).replace(/'/g, \"''\"); // Escapando aspas simples\n\n    // Cria a query SQL com 'phone' sendo usado como 'id' e sem modificar o telefone no content\n    let query = `\nINSERT INTO ${tableName} (id, content, metadata)\nVALUES ('${phoneLimpo}', '${content}', '${metadata}')\nON CONFLICT (id)\nDO UPDATE SET content = EXCLUDED.content, metadata = EXCLUDED.metadata;\n`;\n\n    // Remove as quebras de linha do código gerado (substitui \\n por um espaço ou nada)\n    query = query.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim(); // Substitui múltiplos espaços por um único espaço\n\n    // Adiciona o objeto com a query ao array de saída\n    output.push({ json: { query: query } });\n});\n\n// Retorna os objetos de saída\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6380,
        1640
      ],
      "id": "4946fd25-0aa7-4257-8366-0b6b2065eab1",
      "name": "Create Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6560,
        1640
      ],
      "id": "c0be575b-8ad3-4c0a-bc22-d3051da73889",
      "name": "Insert or Update",
      "credentials": {
        "postgres": {
          "id": "wZZhOCTuTZILsmQV",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "# INSERT OR UPDATE",
        "height": 650,
        "width": 1168
      },
      "id": "dc221966-3b2e-476b-9047-1380c9702708",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5760,
        1540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Este código assume que os dados de entrada têm a estrutura de um array de objetos\n// E dentro de cada objeto, a chave \"local_results\" é um array de objetos com \"title\" e \"phone\"\n\n// Usamos um conjunto para rastrear os telefones já processados\nconst outputData = [];\nconst processedPhones = new Set(); // Conjunto para armazenar telefones processados\n\nitems.forEach(item => {\n    // Verificamos se o objeto contém a chave \"local_results\" e se existe \"search_parameters.q\"\n    if (item.json.local_results && Array.isArray(item.json.local_results)) {\n        const searchParameters = item.json.search_parameters || {};  // Acessa search_parameters\n\n        // Se houver a chave \"local_results\", percorremos cada item dentro dela\n        item.json.local_results.forEach(localResult => {\n            // Só adiciona o item na saída se o \"phone\" existir e ainda não foi processado\n            if (localResult.phone && !processedPhones.has(localResult.phone)) {\n                // Adiciona o telefone ao conjunto para evitar duplicação\n                processedPhones.add(localResult.phone);\n\n                // Adiciona o item na saída, incluindo a categoria de search_parameters.q\n                outputData.push({\n                    category: searchParameters.q,  // Usando search_parameters.q diretamente\n                    title: localResult.title,\n                    phone: localResult.phone,\n                    address: localResult.address\n                });\n            }\n        });\n    }\n});\n\n// Retorna os dados extraídos como uma lista de objetos com as chaves \"title\", \"phone\" e \"category\"\nreturn outputData.map(result => ({ json: result }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6020,
        1720
      ],
      "id": "06639a9e-9768-4e8e-af74-974d7a8f2d5b",
      "name": "Aggregate Variable",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2368afa-5d58-4750-973f-4abc6c042c5d",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "Success",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6200,
        1720
      ],
      "id": "1d6ba9eb-a06a-4775-9ece-87b7cd7ad6b8",
      "name": "Check Phone"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2368afa-5d58-4750-973f-4abc6c042c5d",
              "leftValue": "={{ $json.search_metadata.status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5840,
        1860
      ],
      "id": "3c54b815-8802-479f-9d88-3e13428af9d3",
      "name": "Check Status"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6380,
        2000
      ],
      "id": "6a51fa74-92f7-4c84-ac96-a25340705782",
      "name": "Node 06"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6380,
        1800
      ],
      "id": "b38a1140-8944-48b0-bef8-22337c3f5094",
      "name": "Node 04"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6020,
        2000
      ],
      "id": "44a1d22b-bed9-4b0e-acff-57b50550f6c4",
      "name": "Node 05"
    },
    {
      "parameters": {
        "content": "# CREATE TABLE AND FUNCTION IF NOT EXISTS",
        "height": 510,
        "width": 990
      },
      "id": "9250a16f-7aaa-4809-9bbc-62e9b9752938",
      "name": "Sticky Note69",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5100,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    EXISTS (\n        SELECT 1\n        FROM information_schema.tables\n        WHERE table_schema = 'public'\n          AND table_name = '{{ $json.table }}'\n    ) AS output;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5180,
        1200
      ],
      "id": "06ba61a7-ddf4-4a53-9f00-9c7ee7956836",
      "name": "Database Select Tables",
      "credentials": {
        "postgres": {
          "id": "wZZhOCTuTZILsmQV",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE public.\"{{ $('Variables').item.json.table }}\"\n(\n    id text NOT NULL,  -- Alterado para 'text'\n    timestamp timestamp with time zone NOT NULL DEFAULT CURRENT_TIMESTAMP,\n    content text NOT NULL,\n    metadata jsonb NOT NULL,\n    embedding vector(1536),\n    PRIMARY KEY (id)\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5540,
        1120
      ],
      "id": "fd397612-fb6a-4ea9-b574-5acd681db4b4",
      "name": "Database Create Table",
      "credentials": {
        "postgres": {
          "id": "wZZhOCTuTZILsmQV",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a33af4bf-6762-4992-9286-9ed0e592ab9a",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5360,
        1200
      ],
      "id": "34234323-fc58-49ae-8090-229b2a126ff1",
      "name": "Database Check Table Exists"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE FUNCTION match_{{ $('Variables').item.json.table }} (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) RETURNS TABLE (\n  id text,  -- Alterado para 'text'\n  content text,\n  metadata jsonb,\n  similarity float\n)\nLANGUAGE plpgsql\nAS $$\n#variable_conflict use_column\nBEGIN\n  RETURN QUERY\n  SELECT\n    id,\n    content,\n    metadata,\n    1 - ({{ $('Variables').item.json.table }}.embedding <=> query_embedding) AS similarity\n  FROM {{ $('Variables').item.json.table }}\n  WHERE metadata @> filter\n  ORDER BY {{ $('Variables').item.json.table }}.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5720,
        1120
      ],
      "id": "4d5661b2-7236-45ab-aeb1-9db7edc4676a",
      "name": "Database Create Function",
      "credentials": {
        "postgres": {
          "id": "wZZhOCTuTZILsmQV",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "# PASSO 2\n## CRIAR TABELA\n\n### - Execute este fluxo para criar uma tabela no supabase para salvar os dados dos clientes prospectados.\n\n### - O campo ID sera do tipo text pois ele vai salvar o numero do telefone para quando precisarmos prospectar novamente e atualizar a tabela sem duplicar os dados.",
        "height": 510,
        "width": 570,
        "color": 7
      },
      "id": "82794087-f584-49b1-bec6-5cc9f1fe0bc0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4020,
        1000
      ]
    },
    {
      "parameters": {
        "content": "# PASSO 1\n## CONFIGURAR\n\n### - Na configuração do node \"Config Table\" e \"Prospect Customer\", selecione este workflow em \"workflow from list\"\n### - Configure suas credenciais nos nodes.\n\n\n\n## CREDENCIAIS\n\n### - Supabase https://supabase.com\n### - SerpAPI https://serpapi.com\n\n\n\n## DIGITE NO CHAT\n\n### - Configure o aplicativo\n### - Prospecte clientes",
        "height": 610,
        "width": 570,
        "color": 7
      },
      "id": "17d8ae91-3a26-455d-b455-1b61c86156fb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4020,
        360
      ]
    },
    {
      "parameters": {
        "content": "# PASSO 3\n## PROSPECTAR CLIENTES\n\n### - A ideia é salvar o telefone pra disparar um WhatsAPP em outro workflow.\n\n### - O fluxo pesquisa no Google Maps atraves da SerpAPI e salva os dados na tabela (Categoria, Nome, Telefone, Endereco).\n\n### - No campo metadata sera salvo uma variavel de nome \"message_sent\" com valor \"false\". Em um outro fluxo de disparo de mensagem para WhatsApp, quando entrar em contato com o cliente pela primeira vez, o valor da variavel \"message_sent\" muda para \"true\".",
        "height": 650,
        "width": 570,
        "color": 7
      },
      "id": "630583aa-b81a-4cb6-8ad2-7a18624aae8d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4020,
        1540
      ]
    },
    {
      "parameters": {
        "content": "# OUTPUT",
        "height": 610,
        "width": 270,
        "color": 3
      },
      "id": "d3a966ec-85d0-406b-bbc0-169032eb7f87",
      "name": "Sticky Note73",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5340,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f8fcbbca-f3db-4d84-8792-bf339fb479bd",
      "name": "Agent Workflow Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5420,
        500
      ]
    },
    {
      "parameters": {
        "content": "# OUTPUT",
        "height": 510,
        "width": 270,
        "color": 3
      },
      "id": "a998ce8e-a9af-4d6a-9d83-45e27cfe2e49",
      "name": "Sticky Note74",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6120,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dea78a98-24a4-4853-86c6-cd2c9b5b366d",
      "name": "Database Workflow Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6200,
        1200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "config",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4880,
        1480
      ],
      "id": "4c9cc643-660d-4547-a118-471b0a17b19d",
      "name": "Switch Route"
    },
    {
      "parameters": {
        "name": "Config_Table",
        "description": "=Call this tool to configure the application.\nDon't ask the user anything, just call this tool.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "KSjtr0aImKPNCTPl",
          "cachedResultName": "Prospectar Clientes no Google"
        },
        "fields": {
          "values": [
            {
              "name": "route",
              "stringValue": "config"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "adf008a8-db32-40e8-829e-5e9977b4b4c5",
      "name": "Config Table",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        5000,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "Tables created successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b0ab945-330e-4e81-b84e-e02dcb2fbb2a",
      "name": "Database Workflow Output True",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5900,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5807e46-872f-4576-9b46-bce0d4bfd182",
              "name": "response",
              "value": "The application is already configured",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4adcebdb-8048-41a1-9996-3584498da842",
      "name": "Database Workflow Output False",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5900,
        1300
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5540,
        1300
      ],
      "id": "6d22e63c-1312-40a8-9ef8-7f7382930a15",
      "name": "Database Node 01"
    },
    {
      "parameters": {
        "name": "Prospect_Customer",
        "description": "=Call this tool only if the user uses the words prospect or research customers.\n\nDo not use it for general research purposes.\n\nAlways translate the country name into English to fill in the JSON of this tool, but continue to respond in the same language as the message received by the user.\n\nAsk the user for all data before calling this tool.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "KSjtr0aImKPNCTPl",
          "cachedResultName": "Prospectar Clientes no Google"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"description\": \"Extract the industry sector the user is looking for\",\n  \"city\": \"Extract the name of the city the user is looking for\",\n  \"state\": \"Extract the name of the state the user is looking for\",\n  \"country\": \"Extract the name of the country the user is looking for. Always fill in the English country name\"\n}"
      },
      "id": "c135c1cb-5ae0-4690-81f2-b87aa86016d3",
      "name": "Prospect Customer",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        5160,
        780
      ]
    },
    {
      "parameters": {
        "content": "# VARIABLES",
        "height": 1190,
        "width": 450,
        "color": 6
      },
      "id": "d15f2f33-18de-417a-a480-b01efd0c4f2d",
      "name": "Sticky Note75",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4620,
        1000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e53c990-504f-4a70-9996-4a4c659112ac",
              "name": "table",
              "value": "marketing",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4700,
        1480
      ],
      "id": "447e6721-9682-475f-bfb0-23524644587b",
      "name": "Variables"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# IDENTITY AND PURPOSE\n\n- You are an intelligent assistant responsible to coordinate and manage specific tasks.\n\n\n# GUIDELINES\n\n- Do not consider the information between [] as part of the content; it is only for your reference. Everything between [] and [/] contains information related to the same subject, marking the beginning and end of the instructions.\n\n- The current date and time is {{ $now.format('yyyy-MM-dd\\'T\\'HH:mm:ss') }}\n\n\n# OUTPUT\n\n- Avoid formal greetings like \"Hi, how can I help?\" or \"I'm here to help!\" or \"I’m available\", and other similar options.\n\n- Always be very informal, as humanized as possible, but don't use slang.\n\n- Always answer in the same language as the conversation with the user.\n\n[Step-by-Step Output]\n- Generate clear and structured output:\n  \n  - Clearly list the variables that need to be filled in by the user.\n  \n  - Each distinct idea or context in your answer should form a separate paragraph.\n  \n  - Keep each paragraph to no more than 2-5 sentences.\n  \n  - Whenever possible, use connectors (e.g., furthermore, on the other hand) to create a smooth transition between paragraphs.\n[/Step-by-Step Output]\n\n\n# INPUT\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "0a91abbf-79c7-4a3d-9f3e-e41d68cf930e",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        4840,
        500
      ]
    },
    {
      "parameters": {
        "content": "# INPUT",
        "height": 1190,
        "width": 270,
        "color": 4
      },
      "id": "36f6ca3f-84a1-4539-845c-e7d9671ccb62",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        1000
      ]
    },
    {
      "parameters": {
        "content": "# INPUT",
        "height": 610,
        "width": 270,
        "color": 4
      },
      "id": "92693069-d625-44ae-b502-5e0fcd021853",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Locations": {
      "main": [
        [
          {
            "node": "HTTP Request Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Search": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Output False": {
      "main": [
        [
          {
            "node": "Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables Input": {
      "main": [
        [
          {
            "node": "HTTP Request Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Output True": {
      "main": [
        [
          {
            "node": "Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Query": {
      "main": [
        [
          {
            "node": "Insert or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or Update": {
      "main": [
        [
          {
            "node": "Workflow Output True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Variable": {
      "main": [
        [
          {
            "node": "Check Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phone": {
      "main": [
        [
          {
            "node": "Create Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 04",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Aggregate Variable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Node 05",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 06": {
      "main": [
        [
          {
            "node": "Workflow Output False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 04": {
      "main": [
        [
          {
            "node": "Workflow Output False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node 05": {
      "main": [
        [
          {
            "node": "Node 06",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Select Tables": {
      "main": [
        [
          {
            "node": "Database Check Table Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Create Table": {
      "main": [
        [
          {
            "node": "Database Create Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Check Table Exists": {
      "main": [
        [
          {
            "node": "Database Create Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Database Node 01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Create Function": {
      "main": [
        [
          {
            "node": "Database Workflow Output True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Route": {
      "main": [
        [
          {
            "node": "Database Select Tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Variables Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Table": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Database Workflow Output True": {
      "main": [
        [
          {
            "node": "Database Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Workflow Output False": {
      "main": [
        [
          {
            "node": "Database Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Database Node 01": {
      "main": [
        [
          {
            "node": "Database Workflow Output False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect Customer": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Switch Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Agent Workflow Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31fc9023-4599-44c7-8cc4-a63a024b0991",
  "meta": {
    "instanceId": "8198b957c2048f3ee737c5ff186a502fb09a040f8dfa83b9979837baf9c9a2e4"
  },
  "id": "KSjtr0aImKPNCTPl",
  "tags": []
}